
<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-sm-12 col-lg-3">
        <div class="nav flex-column nav-pills" >
          <a class="nav-link active" routerLink="/dashboard" >Dashboard</a>
        </div>
        <div class="nav flex-column nav-pills">
          <a class="nav-link" routerLink="/profile-details">My Profile</a>
        </div>
        <div class="nav flex-column nav-pills" *ngIf="role=='vendor' ">
          <a class="nav-link" routerLink="/orders">Orders</a>
        </div>
        <div class="nav flex-column nav-pills" *ngIf="role=='vendor' ">
          <a class="nav-link" routerLink="/inventory">Inventory</a>
        </div>
        <div class="nav flex-column nav-pills" *ngIf="role=='customer' ">
          <a class="nav-link" routerLink="/cart">Cart</a>
        </div>
        <div class="nav flex-column nav-pills">
          <a class="nav-link" routerLink="/logout">Log Out</a>
        </div>
      </div>

      <div >
      <div class="col-12 col-md-7 col-sm-12 col-lg-9" *ngIf="role=='admin' ">
        <h1> ADMIN DASHBOARD</h1>    
       
        <mat-tab-group style="width: 700px;">
          <mat-tab label = "Inventory"> <app-admin-dashboard-inventory> </app-admin-dashboard-inventory> </mat-tab>
          <mat-tab label = "Customers"> <app-admin-dashboard-customers> </app-admin-dashboard-customers> </mat-tab>
          <mat-tab label = "Vendors"> <app-admin-dashboard-vendors> </app-admin-dashboard-vendors></mat-tab>
          
        </mat-tab-group>
      </div>
    </div>
    </div>
  </div>
</section>